APP_NAME=AI Shopping Agent
SHOPIFY_STORE_DOMAIN=ecom-lckxu1iu.myshopify.com
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_ACCESS_TOKEN=

GROQ_API_KEY=
SUPABASE_URL=https://joxsqqzaxvpqovnrybrc.supabase.co
SUPABASE_PUBLIC_KEY=
SUPABASE_SERVICE_KEY=

EMBEDDING_MODEL=all-MiniLM-L6-v2
SECRET_KEY=